{% extends "base.html" %}
{% load static %}

{% block site-title %}

{% endblock site-title %}

{% block site-icerik %}
{% include "./Components/_navbar.html" %}
<div class="container mt-5">
    <div class="row justify-content-around">
        <div class="col-md-3">
            <h5 class="text-center">Oda Yapılandırma Menüsü</h5>
            <div class="card shadow-lg">
                <div class="card-body">
                    <!-- Menü Elemanları Gelecek -->
                    <div class="text-center">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#blokajadd">
                            Blokaj Ata
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5 class="text-center mt-3">Boş Odalar</h5>
                    <div class="card">
                        <div class="card-body mb-3">
                            <div class="text-center">
                                <div id="empty-rooms" class="d-flex flex-wrap justify-content-center">
                                    {% for oda in odalar %}
                                        {% if oda.odaBosMu == True  %}
                                        <a href="{% url 'odadetay' oda.id %}"><button class="btn btn-outline-primary m-2">{{ oda.odaNumarasi }}</button></a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <h5 class="text-center">Güncel Takvim</h5>
            <div class="card shadow-lg">
                <div class="card-body">
                    <div id='calendar'></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static '/js/calendar.js' %}"></script>
{% include "./Components/_addblokajmodal.html" %}
{% endblock site-icerik %}